<html>
  <head>
  </head>

  <body>
    <h1>Create a New Category</h1>

    <form method="POST" action="/categories/submit_create">
      <label for="category_name">Name:</label>
      <input type="text" name="category_name" id="category_name" placeholder="Category name"/>

      <label for="category_id">ID:</label>
      <input type="text" name="category_id" id="category_id" placeholder="Category ID No."/>

      <input type="submit" name="create_category" id="create_category" value="Add Category">
    </form>
    
    <br><br><a href="/categories"><button>Back</button></a>
  </body>
</html>
