<html>
  <head>
  </head>

  <body>
    <h1>Delete Item</h1>

    <% items.each do |item| %>
      <form method="POST" action="/items/<%= item.id %>/submit_delete">
        <label for="delete">Delete <b><%= item.name %></b> ?</label>
        <input type="submit" name="delete_item" id="delete_item" value="Delete Item"/>  
      </form>
    <% end %>
    
    <br><br><a href="/items"><button>Back</button></a>
  </body>

</html>
