<html>
  <head>
    <title>Navigation</title>
    <link rel="stylesheet" href="<%= URI('style.css') %>"/>
  </head>

  <body>
  <h1 class="dodgerblue-background">Hello!</h1>
    <h2>Menu Items</h2>
      <a href="/items">Click Here</a>
    <h2>Categories</h2>
      <a href="/categories">Click Here</a>
    <h2>Customers</h2>
      <a href="/customers">Click Here</a>
  </body>
</html>
